.banner{
  height: 396px;
  background-image: url("../images/banner-bg.webp");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container{
    max-width: 683px;
  }
  &__subtitle{
    font-weight: 700;
  }
  &__title{
    font-weight: 700;
    font-size: 60px;
  }
}

@media all and (max-width: 480px){
  .banner{
    background-image: url("../images/bg-mob.webp");
    &__title{
      font-size: 30px;
      margin: 20px 0;
    }
    &__text{
      line-height: 1.2;
    }
  }
}
