.card-wrapper{
  &__container{
    padding-top: 70px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.card{
  width: 380px;
  cursor: pointer;
  padding-bottom: 10px;
  &:hover{
    .card__img{
      &:before{
        transform: rotate(0deg);
        background-image: url("../images/card-hover.webp");
      }
    }
  }
  &__region{
    color: #1F35D4;
  }
  &__raiting{
    margin: 6px 0 10px;
    &-item{
      &:not(:last-child){
        margin-right: 6px;
      }
    }
  }
  &__title{
    font-size: 22px;
    line-height: 1.36;
    font-weight: 700;
  }
  &__descr{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__price{
    font-weight: 700;
    margin-top: 3px;
  }
  &__img{
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 30px;
    &:before {
      transition: all 0.2s;
      transform: rotate(-1deg);
      content: '';
      position: absolute;
      width: 116%;
      height: 116%;
      left: -3%;
      top: -11%;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: contain;
    }
    img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
@media all and (max-width: 1200px){

  .card-wrapper{
    &__container{
      padding-top: 40px;
      padding-bottom: 80px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

    }
  }

  .card{
    width: auto;
  }
}

@media all and (max-width: 480px){
  .card-wrapper{
    &__container{
      padding-top: 20px;
      padding-bottom: 40px;
      grid-template-columns: 1fr;
      grid-gap: 30px;

    }
  }

  .card{
    width: auto;
    &__img{
      height: 200px;
      margin-bottom: 10px;
    }
  }
}
