.filter{
  padding: 20px 0;
  position: sticky;
  border-bottom: 1px solid #E5E8FE;
  box-sizing: border-box;
  top: 91px;
  z-index: 100;
  background: #fff;
  &__container{
    display: flex;
  }
  &__item{
    background: #F5F6FD;
    border-radius: 4px;
    font-size: 13px;
    padding: 11px 16px 12px;
    display: flex;
    align-items: center;
    &:nth-child(1){
      margin-right: 15px;
    }
    &-icon{
      margin-right: 10px;
    }
    &-text{
      font-weight: 700;
    }
  }
}

@media all and (max-width: 480px){
  .filter{
    padding: 10px 0;
    top: 42px;
    &__item{
      font-size: 12px;
      padding: 8px 16px;
    }
  }
}
