@font-face {
  font-family: "Boston";
  src: local("Boston"),
  url("../fonts/Boston-Bold.woff") format("woff"),
  url("../fonts/Boston-Bold.woff2") format("woff2"),
  url("../fonts/Boston-Bold.eot") format("eot"),
  url("../fonts/Boston-Bold.ttf") format("truetype"),
  url("../fonts/Boston-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Boston";
  src: local("Boston"),
  url("../fonts/Boston-Regular.woff") format("woff"),
  url("../fonts/Boston-Regular.woff2") format("woff2"),
  url("../fonts/Boston-Regular.eot") format("eot"),
  url("../fonts/Boston-Regular.ttf") format("truetype"),
  url("../fonts/Boston-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
}

