body {
  margin: 0;
  font-family: 'Boston', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 2;
}

.container{
  margin: 0 auto;
  width: 1180px;
}

@media all and (max-width: 1200px){
  .container{
    width: 720px;
  }
}

@media all and (max-width: 480px){
  body{
    font-size: 12px;
    line-height: 1.2;
  }
  .container{
    width: 280px;
  }
}
