.header{
  transition: background 0.3s;
  position: fixed;
  width: 100%;
  z-index: 102;
  box-sizing: border-box;
  &--sticky{
    background: #fff;
    border-bottom: 1px solid #E5E8FE;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.nav{
  box-sizing: border-box;
  &__link{
    margin-right: 40px;
  }
  &__btn:last-child{
    margin-left: 20px;
  }
}

@media all and (max-width: 1200px){

  .logo{
    img{
      width: 100px;
    }
  }

}

@media all and (max-width: 480px){
  .logo{
    img{
      width: 60px;
    }
  }

  .header__container{
    padding: 10px 0;
  }

  .burger{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 42px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
      width: 16px;
      height: 2px;
      border-radius: 2px;
      background: #161616;
      position: relative;
      pointer-events: none;
      &:before, &:after {
        width: 16px;
        height: 2px;
        border-radius: 2px;
        content: '';
        position: absolute;
        background: #161616;
       transition: all 0.2s;
      }

      &:before {
        top: -6px;
      }

      &:after {
        bottom: -6px;
      }

    }
    &--open{
      .burger__item{
        background: transparent;
        &:before, &:after{
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);

        }
      }
      ~.nav{
        display: flex;
        border-bottom: 1px solid #E5E8FE;
      }
    }
  }

  .nav{
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 0 calc((100% - 280px) /2) 20px;
    &__btn{
      margin: 4px 0;
      width: 200px;
      &:last-child{
        margin: 10px 0;
      }
    }
    &__link{
      margin: 0;
      padding: 16px 0;
    }
  }
}
