//UI KIT
.btn{
  border: none;
  border-radius: 4px;
  padding: 15px 18px 16px;
  font-size: 15px;
  line-height: 1.27;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    width: 77px;
    height: 77px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10%;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    transform: scale(0.9);
    transition: all 0.2s;
  }
  span{
    z-index: 2;
    position: relative;
  }
  &:active:before{
    transform: scale(1);
  }
  &:disabled{
    color: #C3C8E9;
    background: #E5E8FE;
  }
  &--primary{
    background: #1F35D4;
    &:hover{
      background: #4358F4;
    }
    &:focus{
      background: #1F35D4;
    }
    &:active:before{
      background-color: #354CED;
    }
  }
  &--accent{
    background: #E160E4;
    &:hover{
      background: #EF94F1;
    }
    &:focus{
      background: #E160E4;
    }
    &:active:before{
      background-color: #F171F4;
    }
  }
}
.link{
  text-decoration: none;
  color: #161616;
  font-weight: 700;
  &:hover{
    color: #1F35D4;
  }
  &:focus{
    color: #E160E4;
  }
  &:active{
    color: #1F35D4;
  }
  &:disabled{
    color: #C3C8E9;
  }
}

//TYPOGRAPHY
.text-md{
  font-size: 17px;
  line-height: 1.76;
}
.title-md{
  font-size: 22px;
  line-height: 1.36;
}
